/* Start utility classes */
.pad-top-20 {
	padding-top: 20px;
}
/* End utility classes */

.bookmark-link {
	display: block;
	padding: 10px 4px;
}

/* Some easily visible identifier for 'active' class */
.nav-link.active {
	text-decoration: underline;
}
